
<a href="/single-post/{{id}}"
    class="list-group-item list-group-item-action row d-flex align-items-center list-group-item-secondary m-1 rounded">
    <h3 class="col">{{title}}</h3>
    <span>Posted on: {{created_at}}</span>
</a>