<article class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>{{post.title}}</h2>
        <span>Posted by: {{post.user.username}} on {{post.createdAt}}</span>
    </div>
    <div class="card-body">
        <p>
            {{post.body}}
        </p>

        {{#if currentUser}}
        <div class="float-right">
            <button type="button" class="btn btn-warning ">Edit</button>
            <button type="button" class="btn btn-danger ">Delete</button>

        </div> 
        {{/if}}
        
    </div>
</article>

<h3 class="m-3 text-info">Replies</h3>

<ol class="card list-group list-group-flush">
    {{#each post.replies as |reply|}}

    {{> comment reply}}

    {{/each}}
</ol>

{{#if loggedIn}}
<div class="card mt-3">
    <h4 class="card-header">Leave a Reply:</h4>
    <form class="card-body">
        <div class="form-group">

            <textarea class="form-control" id="reply" rows="3"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{/if}}