<article class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>{{post.title}}</h2>
        <span>Posted by: {{post.user.username}} on {{post.createdAt}}</span>
    </div>
    <div class="card-body">
        <p>
            {{post.body}}
        </p>

        {{!-- <div class="float-right">
            <button type="button" class="btn btn-warning ">Edit</button>
            <button type="button" class="btn btn-danger ">Delete</button>

        </div> --}}
    </div>
</article>

<h3 class="m-3 text-info">Replies</h3>

<ol class="card list-group list-group-flush">
    <li class="list-group-item">
        <p>
            here is the comment content. Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Nisi veniam fugit corporis consectetur. Blanditiis labore laboriosam eaque
            deserunt rerum nulla. Numquam corrupti animi officia. Amet porro quo quaerat
            blanditiis incidunt.
        </p>
        - username and date
    </li>
</ol>

<div class="card mt-3">
    <h4 class="card-header">Leave a Reply:</h4>
    <form class="card-body">
        <div class="form-group">

            <textarea class="form-control" id="reply" rows="3"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>